# Temporary files
*~
*.out
.goutputstream-*
*\#*\#
*.\#*
*.synctex.gz
.DS_Store
*.fls
*.fdb_latexmk


# Tex files
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.log
*.bbl
*.blg
*.glg
*.glo
*.gls
*.ist
*.thm
*_region_.tex

# Editor files
*.kilepr

# Material and Backup files
mat
*.tar.gz
*.backup

# Release tex files
skript-diffgeom.pdf
*.ps
*.dvi
*.html
*/ltxpng/*
